{{>partials/header}}

    <h2>Digite o ano que você nasceu</h2>
    <form method="POST" action="idade-resultado">
        <input type="number" name="anoNascimento" placeholder="Ano de Nascimento" autofocus>
        <input type="submit" value="Enviar">
    </form>

    {{#mostrarIdade}}
        <h1>Idade: {{idade}}</h1>
    {{/mostrarIdade}}

{{>partials/footer}}